<form #myForm="ngForm">
<select [(ngModel)]="paymentProposal.paymentProposalNumber" class="input-style" 
  (change)="changeProposal()" name="paymentProposalNumber" id="paymentProposalNumber" required>
  <option value=""></option>
  <option *ngFor="let item of paymentProposalList" [value]="item.paymentProposalNumber">
    {{item.paymentProposalNumber}}
  </option>
</select>


<table class="table table-striped full-width">
  <tr>
    <th></th>
    <th>Proposal No</th>
    <th>Proposal Date</th>
    <th>Vendor Account Name</th>
    <th>Vendor Account Type</th>
    <!-- <th>Tax</th> -->
    <th>Amount</th>
    <th>Invoice Ref. No</th>
    <!-- <th>PO Ref. No</th> -->
    <th>Credit Date</th>
  </tr>
  <tr *ngFor="let item of paymentProposal.paymentProposalDetails; let i = index" [attr.data-index]="i">
    <td>
        <span *ngIf="item.status == 'Paid'"><input disabled checked type="checkbox" name="selectedInUI"></span>
        <span *ngIf="item.status != 'Paid'"><input [(ngModel)]="item.selectedInUI" type="checkbox" name="selectedInUI"></span>
      </td>
    <td>
      <span>{{item.paymentProposalNumber}}</span>
    </td>
    <td>
      <span>{{item.proposedPaymentDate | date : "short"}}</span>
    </td>
    <td>
      <span>{{paymentProposal.vendorBankAccountNumber}}</span>
    </td>
    <td>
      <span>{{paymentProposal.vendorBankAccountType}}</span>
    </td>
    <!-- <td>
      <span>{{item.tax}}</span>
    </td> -->
    <td>
      <span>{{item.amount}}</span>
    </td>
    <td>
      <span>{{item.InvoiceReferenceNumber}}</span>
    </td>
    <!-- <td>
      <span>{{item.poReferenceNumber}}</span>
    </td> -->
    <td>
      <span *ngIf="item.bankProcessingDate && item.bankProcessingDate!='' && item.bankProcessingDate!='null'">{{item.bankProcessingDate | date : "short"}}</span>
    </td>
  </tr>
</table>

<div class="btn-area">
    <button type="submit" (click)="clearForm(myForm)" class="btn-border">Clear</button>
    <button type="submit" [disabled]="!myForm.form.valid" (click)="processPayment(myForm);" class="btn-normal">Process Payment</button>

  </div>
  </form>