<div class="page-container cgt-finance">
    <div class="container">
        <h2 class="page-title">Oder Tracker</h2>
        <div class="content-area align-center">
            <div class="tracker">
                <div class="tracker-btn">
                    <form>
                        <select class="input-style">
                            <option value="0" selected>Select Purchase Order</option>
                            <option>632476237427</option>
                            <option>534723473234</option>
                        </select>
                        <button class="btn-normal">Track</button>
                    </form>
                </div>
                
                <div class="tracker-wrapper">
                    <div class="po-details block-field">
                        <div class="v-list">
                            <span class="label-field">PO Number</span>
                            <span class="value-field highlight">632476237427</span>
                        </div>
                        <div class="v-list">
                            <span class="label-field">PO Date</span>
                            <span class="value-field">December 21, 2017</span>
                        </div>
                        <div class="v-list">
                            <span class="label-field">Product List</span>
                            <span class="value-field">Product Name-1</span>
                            <span class="value-field">Product Name-2</span>
                            <span class="value-field">Product Name-3</span>
                        </div>
                        <div class="v-list">
                            <span class="label-field">Vendor Name</span>
                            <span class="value-field">Vendor Company Name</span>
                        </div>
                        <div class="v-list">
                            <span class="label-field">Vendor Address</span>
                            <span class="value-field">Address line 1, street name, Location Name, City, State</span>
                        </div>
                    </div>
                    <div class="po-tracker timeline-wrapper">
                        <ul>
                            <li class="finished">
                                <div class="left-block">
                                    <h6 class="event-title">Purchase order created</h6>
                                    <span class="event-time">Created on 12-12-2017, 03:30 PM</span>
                                    <span class="event-party">Syngenta Procurement Team</span>
                                </div>
                                <div class="right-block">
                                </div>
                                <div class="marker"></div>
                            </li>
                            <li class="finished">
                                <div class="left-block">
                                    
                                </div>
                                <div class="right-block">
                                    <h6 class="event-title">Purchase order dispatched to vendor</h6>
                                    <span class="event-time">Dispatched on 12-12-2017, 07:30 PM</span>
                                    <span class="event-party">Syngenta Procurement Team</span>
                                </div>
                                <div class="marker"></div>
                            </li>
                            <li class="finished">
                                <div class="left-block">
                                    <h6 class="event-title">Purchase order fulfilment</h6>
                                    <span class="event-time">Completed on 13-12-2017, 10:30 AM</span>
                                    <span class="event-party">Vendor Company name</span>
                                </div>
                                <div class="right-block">
                                </div>
                                <div class="marker"></div>
                            </li>
                            <li>
                                <div class="left-block">
                                    
                                </div>
                                <div class="right-block">
                                    <h6 class="event-title">Order shipped to Syngenta</h6>
                                    <span class="event-time">Shipment pending</span>
                                    <span class="event-party">Vendor Company name</span>
                                </div>
                                <div class="marker"></div>
                            </li>
                            <li>
                                <div class="left-block">
                                    <h6 class="event-title">Order delivered to Syngenta</h6>
                                    <span class="event-time">Delivery pending</span>
                                    <span class="event-party">Logistic Company</span>
                                </div>
                                <div class="right-block">
                                </div>
                                <div class="marker"></div>
                            </li>
                            <li>
                                <div class="left-block">
                                    
                                </div>
                                <div class="right-block">
                                    <h6 class="event-title">Delivery receipts created</h6>
                                    <span class="event-time">Delivery receipt pending</span>
                                    <span class="event-party">Syngenta Procurement Team</span>
                                </div>
                                <div class="marker"></div>
                            </li>
                            <li>
                                <div class="left-block">
                                    <h6 class="event-title">Invoice created</h6>
                                    <span class="event-time">Invoice pending</span>
                                    <span class="event-party">Vendor Company Name</span>
                                </div>
                                <div class="right-block">
                                </div>
                                <div class="marker"></div>
                            </li>
                            <li>
                                <div class="left-block">
                                    
                                </div>
                                <div class="right-block">
                                    <h6 class="event-title">Invoice verification</h6>
                                    <span class="event-time">Verification pending</span>
                                    <span class="event-party">Syngenta Finance Team</span>
                                </div>
                                <div class="marker"></div>
                            </li>
                            <li>
                                <div class="left-block">
                                    <h6 class="event-title">Invoice posted to Bank</h6>
                                    <span class="event-time">Invoice posting pending</span>
                                    <span class="event-party">Syngenta Finance Team</span>
                                </div>
                                <div class="right-block">
                                </div>
                                <div class="marker"></div>
                            </li>
                            <li>
                                <div class="left-block">
                                    
                                </div>
                                <div class="right-block">
                                    <h6 class="event-title">Payment completed</h6>
                                    <span class="event-time">Payment pending</span>
                                    <span class="event-party">Bank</span>
                                </div>
                                <div class="marker"></div>
                            </li>
                        </ul>
                        
                    </div>
                    
                </div>

            </div> 

        </div>
    </div>
</div>