#footer {
	text-align: center;
    padding: 7px 0px;
    height: 30px;
    line-height: 30px;
	font-size: 12px;
    color: #888;
    background: #ccc;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 3;
    box-sizing: content-box;
}

#footer .copyright{
	float: left;
}

#footer .footer-logo{
    float: right;
    height: 30px;
}
