<div class="page-container cgt-buyer">
  <div class="container">
    <form #myForm="ngForm">
      <h2 class="page-title">Goods Receipt</h2>
      <div class="content-area">
          <div class="panel-expand">
              <div class="panel-title">
                  <h3>Order Details</h3>
                  <span class="arrow"></span>
              </div>
              <div class="panel-content clearfix">
                  <div class="col-sm-12 col-md-6">
                      <div class="plain-block mrg-btm-30">
                          <h5 class="sub-title-sm">Goods Details</h5>
                          <div class="value-block">
                              <label class="label-field">Goods Receipt No</label>
                              <span class="value-field">
                                  <input type="text" class="input-style">
                              </span>
                          </div>

                          <div class="value-block">
                              <label class="label-field">Goods Receipt Date</label>
                              <span class="value-field"><input type="text" class="input-style"></span>
                          </div>

                          <div class="value-block">
                              <label class="label-field">Purchase Order Ref. No</label>
                              <span class="value-field"><input type="text" class="input-style"></span>
                          </div>

                          <div class="value-block">
                              <label class="label-field">Goods Issue Number</label>
                              <span class="value-field">
                                  <select class="input-style">
                                      <option selected>6363463463634</option>
                                      <option>346363463634636</option>
                                  </select>
                              </span>
                          </div>
                      </div>

                      <div class="plain-block">
                          <h5 class="sub-title-sm">Delivery Details</h5>
                          <div class="value-block">
                              <label class="label-field">Delivery to Person</label>
                              <span class="value-field">
                                  Person Name
                              </span>
                          </div>

                          <div class="value-block">
                              <label class="label-field">Delivery Address</label>
                              <span class="value-field">
                                  Address line 1, street name, Location Name, City, State
                              </span>
                          </div>

                      </div>
                      
                  </div>

                  <div class="col-sm-12 col-md-6">
                      
                      <div class="plain-block mrg-btm-30">
                          <h5 class="sub-title-sm">Purchaser Details</h5>
                          <div class="value-block">
                              <label class="label-field">Purchaser Company/Dept</label>
                              <span class="value-field">
                                  Company Name
                              </span>
                          </div>

                          <div class="value-block">
                              <label class="label-field">Purchaser Contact Person</label>
                              <span class="value-field">Contact Person Name</span>
                          </div>

                          <div class="value-block">
                              <label class="label-field">Purchaser Contact Address/Phone</label>
                              <span class="value-field">Address line 1, street name, Location Name, City, State</span>
                          </div>

                          <div class="value-block">
                              <label class="label-field">Purchaser Eontact Email</label>
                              <span class="value-field">name@companyname.com</span>
                          </div>

                          
                      </div>

                  </div>
              </div>
          </div>

          <div class="panel-expand">
              <div class="panel-title">
                  <h3>Meterial Details</h3>
                  <span class="arrow"></span>
              </div>
              <div class="panel-content clearfix">
                  <table class="table table-striped full-width">
                      <tr>
                          <th>Product Name</th>
                          <th>description</th>
                          <th>Quantity</th>
                          <th>Units</th>
                          <th>Unit price</th>
                          <th>Currency</th>
                          <th>Net Amount</th>
                          <th>Dispatched Qty</th>
                          <th>Batch No</th>
                          <th>Received Qty</th>
                      </tr>
                      <tr>
                          <td>Product Name 1</td>
                          <td>Product Description comes here</td>
                          <td>12</td>
                          <td>
                              Kg
                          </td>
                          <td>500</td>
                          <td>
                              USD
                          </td>
                          <td><strong>6000</strong></td>
                          <td>12</td>
                          <td>45345354353</td>
                          <td><input type="text" class="input-style-small"></td>
                      </tr>
                      <tr>
                          <td>Product Name 2</td>
                          <td>Product Description comes here</td>
                          <td>19</td>
                          <td>
                              Kg
                          </td>
                          <td>700</td>
                          <td>
                              USD
                          </td>
                          <td><strong>9000</strong></td>
                          <td>15</td>
                          <td>45345354353</td>
                          <td><input type="text" class="input-style-small"></td>
                      </tr>
                  </table>
              </div>
          </div>

          

          <div class="btn-area">
              <button class="btn-border">Cancel</button>
              <button class="btn-normal">Submit</button>
          </div>

      </div>
    </form>
  </div>
</div>