<div class="page-container cgt-buyer">
  <div class="container">
    <form #myForm="ngForm">
      <h2 class="page-title">Goods Receipt</h2>
      <div class="content-area">
          <div class="panel-expand">
              <div class="panel-title">
                  <h3>Order Details</h3>
                  <span class="arrow"></span>
              </div>
              <div class="panel-content clearfix">
                  <div class="col-sm-12 col-md-6">
                      <div class="plain-block mrg-btm-30">
                          <h5 class="sub-title-sm">Goods Details</h5>
                          <div class="value-block">
                              <label class="label-field">Goods Receipt No</label>
                              <span class="value-field">
                                  <input disabled type="text" [(ngModel)]="goodsReceipt.goodsReceiptNumber" name="goodsReceiptNumber" class="input-style">
                              </span>
                          </div>

                          <div class="value-block">
                              <label class="label-field">Goods Receipt Date</label>
                              <span class="value-field">
                                    <input disabled type="text" placeholder="Date" [(ngModel)]="goodsReceipt.goodsReceiptDate" name="goodsReceiptDate"
                                    class="form-control date-picker-date date-input-small float-left" bsDatepicker required/>
                                </span>
                          </div>

                          <div class="value-block">
                              <label class="label-field">Purchase Order Ref. No</label>
                              <span class="value-field"><input (change)="getGoodsReceipt(myForm);" type="text" [(ngModel)]="goodsReceipt.purchaseOrderRefNumber" name="purchaseOrderRefNumber" class="input-style"></span>
                          </div>

                          <!-- <div class="value-block" style="visibility:none;">
                              <label class="label-field">Goods Issue Number</label>
                              <span class="value-field">
                                  <select class="input-style" [(ngModel)]="goodsReceipt.goodIssueNumber" name="goodIssueNumber" required>
                                        <option *ngFor="let item of goodsIssueList" [value]="item.goodsIssueNumber">{{item.goodsIssueNumber}}</option>
                                  </select>
                              </span>
                          </div> -->

                          <div class="value-block">
                                <label class="label-field">Consignment Number</label>
                                <span class="value-field">
                                    <select class="input-style" [(ngModel)]="goodsReceipt.consignmentNumber" name="consignmentNumber" required>
                                          <option *ngFor="let item of logisticTransactionList" [value]="item.consignmentNumber">{{item.consignmentNumber}}</option>
                                    </select>
                                </span>
                            </div>
                      </div>

                      <div class="plain-block">
                          <h5 class="sub-title-sm">Delivery Details</h5>
                          <div class="value-block">
                              <label class="label-field">Delivery to Person</label>
                              <span class="value-field">
                                  {{goodsReceipt.deliverToPersonName}}
                              </span>
                          </div>

                          <div class="value-block">
                              <label class="label-field">Delivery Address</label>
                              <span class="value-field">
                                    {{goodsReceipt.deliveryAddress}}
                              </span>
                          </div>

                      </div>
                      
                  </div>

                  <div class="col-sm-12 col-md-6">
                      
                      <div class="plain-block mrg-btm-30">
                          <h5 class="sub-title-sm">Purchaser Details</h5>
                          <div class="value-block">
                              <label class="label-field">Purchaser Company/Dept</label>
                              <span class="value-field">
                                    {{goodsReceipt.purchaserCompany}}
                              </span>
                          </div>

                          <div class="value-block">
                              <label class="label-field">Purchaser Contact Person</label>
                              <span class="value-field">{{goodsReceipt.purchaserContactPersonName}}</span>
                          </div>

                          <div class="value-block">
                              <label class="label-field">Purchaser Contact Address/Phone</label>
                              <span class="value-field">{{goodsReceipt.purchaserContactPersonAddress}}</span>
                          </div>

                          <div class="value-block">
                              <label class="label-field">Purchaser Contact Email</label>
                              <span class="value-field">{{goodsReceipt.purchaserContactPersonEmail}}</span>
                          </div>
                      </div>

                  </div>
              </div>
          </div>

          <div class="panel-expand">
              <div class="panel-title">
                  <h3>Meterial Details</h3>
                  <span class="arrow"></span>
              </div>
              <div class="panel-content clearfix">
                  <table class="table table-striped full-width">
                      <tr>
                            <th>Pos</th>
                            <th>Product Name</th>
                            <th>Description</th>
                            <!-- <th>Seller Product Code</th> -->
                            <th>Quantity</th>
                            <th>Units</th>
                            <th>Unit price</th>
                            <th>Currency</th>
                            <th>Net Amount</th>
                            <th>Dispatched Qty</th>
                            <th>Batch No</th>
                            <th>Received Qty</th>
                            <th>FDF</th>
                        </tr>
                        <tr *ngFor="let item of goodsReceipt.materialList; let i = index" [attr.data-index]="i">
                               
                            <td>
                                <span>{{item.pos}}</span>
                            </td>
                            <td>
                                <span>{{item.productName}}</span>
                            </td>
                            <td>
                                <span>{{item.productDescription}}</span>
                            </td>
                            <!-- <td>
                              <span>Seller Product Code</span>
                            </td> -->
                            <td>
                                <span>{{item.quantity}}</span> 
                            </td>
                            <td>
                                <span>{{item.quantityUnit}}</span> 
                            </td>
                            <td>
                                <span>{{item.pricePerUnit}}</span> 
                            </td>
                            <td>
                                <span>{{item.currency}}</span> 
                            </td>
                            <td>
                                <strong>{{item.netAmount}}</strong>
                            </td>
                            <td>
                                <span>{{item.dispatchedQuantity}}</span> 
                            </td>
                            <td>
                                <strong>{{item.batchNumber}}</strong>
                            </td>
                            <td><input [disabled]="item.fdf" [(ngModel)]="item.receivedQuantity" type="text" [name]="'receivedQuantity' + item.pos" [id]="'receivedQuantity' + item.pos" class="input-style-small"></td>
                            <td>
                                <input [disabled]="item.fdfDisabled" [(ngModel)]="item.fdf" type="checkbox" 
                                [name]="'fdf' + item.pos" [id]="'fdf' + item.pos" 
                                class="input-style-small">
                            </td>
                        </tr>
                  </table>
              </div>
          </div>

          <div class="btn-area">
                <button type="submit" (click)="clearForm(myForm)" class="btn-border">Clear</button>
                <button type="submit" [disabled]="!myForm.form.valid" (click)="saveGoodsReceipt(myForm);" class="btn-normal">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>