<div class="page-container cgt-logistic">
  <div class="container">
      <h2 class="page-title">Delivery Details</h2>
      <div class="content-area">
          <div class="plain-block mrg-btm-30">
              <div class="border-box-wrapper">
                  <div class="border-box-table">
                      <div class="border-box-row">
                          <div class="border-box col-2">
                              <label class="label-field">Consignment No</label>
                              <span class="value-field">
                                  <input type="text" class="input-style">
                              </span>
                          </div>
                          <div class="border-box col-2">
                              <label class="label-field">Goods Issue ref. No</label>
                              <span class="value-field">
                                  <input type="text" class="input-style">
                              </span>
                          </div>
                          
                      </div>
                  </div>
                  <div class="border-box-table">
                      <div class="border-box-row">
                          <div class="border-box col-2">
                              <label class="label-field">Purchase Order ref No</label>
                              <span class="value-field">6937878546</span>
                          </div>
                          <div class="border-box col-2">
                              <label class="label-field">Supplier No</label>
                              <span class="value-field">756785687986</span>
                          </div>
                          
                      </div>
                  </div>

                  <div class="border-box-table">
                      <div class="border-box-row">
                          <div class="border-box col-2">
                              <label class="label-field">Ship to Party</label>
                              <span class="value-field">person name</span>
                          </div>
                          <div class="border-box col-2">
                              <label class="label-field">Pickedup Time</label>
                              <span class="value-field">
                                  <input type="text" class="input-style">
                              </span>
                          </div>
                          
                      </div>
                  </div>

                  <div class="border-box-table">
                      <div class="border-box-row">
                          <div class="border-box col-2">
                              <label class="label-field">Expected Delivery</label>
                              <span class="value-field">
                                  <input type="text" class="input-style">
                              </span>
                          </div>
                          <div class="border-box col-2">
                              <label class="label-field">Actual Delivery</label>
                              <span class="value-field">
                                  <input type="text" class="input-style">
                              </span>
                          </div>
                          
                      </div>
                  </div>

                  <div class="border-box-table">
                      <div class="border-box-row">
                          <div class="border-box col-2">
                              <label class="label-field">Hazardous material</label>
                              <span class="value-field">
                                  <select class="input-style">
                                      <option>Yes</option>
                                      <option>No</option>
                                  </select>
                              </span>
                          </div>
                          <div class="border-box col-2">
                              <label class="label-field">Packaging Instruction</label>
                              <span class="value-field">
                                  <textarea class="input-style"></textarea>
                              </span>
                          </div>
                          
                      </div>
                  </div>

              </div>
          </div>

          

          <div class="btn-area">
              <button class="btn-border">Cancel</button>
              <button class="btn-normal">Submit</button>
          </div>

      </div>
  </div>
</div>