<div class="page-container cgt-buyer">
  <div class="container">
      <h2 class="page-title">Dashboard</h2>
      <div class="content-area">
        <div class="dashboard-wrapper">
          <div class="dashboard-tab">
            <ul>
              <li (click)="changeTab('15-d');" [ngClass]="{
                  'active':selectedTab === '15-d',
                  'in-active':selectedTab !== '15-d'}">15 Days</li>
              <li (click)="changeTab('1-m');" [ngClass]="{
                'active':selectedTab === '1-m',
                'in-active':selectedTab !== '1-m'}">1 Month</li>
              <li (click)="changeTab('2-m');" [ngClass]="{
                'active':selectedTab === '2-m',
                'in-active':selectedTab !== '2-m'}">2 Months</li>
              <li (click)="changeTab('6-m');" [ngClass]="{
                'active':selectedTab === '6-m',
                'in-active':selectedTab !== '6-m'}">6 Months</li>
              <li (click)="changeTab('1-y');" [ngClass]="{
                'active':selectedTab === '1-y',
                'in-active':selectedTab !== '1-y'}">1 Year</li>
              <li (click)="changeTab('100-y');" [ngClass]="{
                'active':selectedTab === '100-y',
                'in-active':selectedTab !== '100-y'}">All</li>
            </ul>
          </div>
          <div class="dashboard-inner">
            <div class="dashboard-row clearfix">
              <div class="dashboard-block quarter-block">
                <div class="inner-block">
                  <div class="label-block">Total Purchase Orders</div>
                  <div *ngIf="dashboardData && dashboardData.purchaseOrdersCount>=0" class="value-block">{{dashboardData.purchaseOrdersCount}}</div>
                </div>
              </div>
              <div class="dashboard-block quarter-block">
                <div class="inner-block">
                  <div class="label-block">Total Sales Order Created</div>
                  <div *ngIf="dashboardData && dashboardData.vendorSalesOrdersCount>=0" class="value-block">{{dashboardData.vendorSalesOrdersCount}}</div>
                </div>
              </div>
              <div class="dashboard-block quarter-block">
                <div class="inner-block">
                  <div class="label-block">Pending Sales Order Creation</div>
                  <div *ngIf="dashboardData && dashboardData.vendorSalesOrdersCount>=0" class="value-block">{{dashboardData.purchaseOrdersCount - dashboardData.vendorSalesOrdersCount}}</div>
                </div>
              </div>
              <div class="dashboard-block quarter-block">
                  <div class="inner-block">
                    <div class="label-block">Total Goods Issued</div>
                    <div *ngIf="dashboardData && dashboardData.goodsIssueListCount>=0" class="value-block">{{dashboardData.goodsIssueListCount}}</div>
                  </div>
              </div>
              <div class="dashboard-block quarter-block">
                  <div class="inner-block">
                    <div class="label-block">Total Vendor Invoice</div>
                    <div *ngIf="dashboardData && dashboardData.vendorInvoicesCount>=0" class="value-block">{{dashboardData.vendorInvoicesCount}}</div>
                  </div>
              </div>
            </div>

            <div class="dashboard-row clearfix">
              <div class="dashboard-block quarter-block">
                <div class="inner-block">
                  <div class="label-block">Total Orders Delivered</div>
                  <div *ngIf="dashboardData && this.dashboardData.logisticTransactionsCount>=0" class="value-block">{{this.dashboardData.logisticTransactionsCount}}</div>
                </div>
              </div>
              <div class="dashboard-block quarter-block">
                <div class="inner-block">
                  <div class="label-block">Receipt Generated</div>
                  <div *ngIf="dashboardData && dashboardData.goodsReceiptsCount>=0" class="value-block">{{dashboardData.goodsReceiptsCount}}</div>
                </div>
              </div>
              <div class="dashboard-block quarter-block">
                <div class="inner-block">
                  <div class="label-block">Receipt Pending</div>
                  <div *ngIf="dashboardData && dashboardData.goodsReceiptsCount>=0" class="value-block">{{dashboardData.purchaseOrdersCount - dashboardData.goodsReceiptsCount}}</div>
                </div>
              </div>

              <div class="dashboard-block quarter-block">
                  <div class="inner-block">
                    <div class="label-block">Total Finance Invoice</div>
                    <div *ngIf="dashboardData && dashboardData.financeInvoicesCount>=0" class="value-block">{{dashboardData.financeInvoicesCount}}</div>
                  </div>
              </div>
              <div class="dashboard-block quarter-block">
                  <div class="inner-block">
                    <div class="label-block">Total Payment Proposal</div>
                    <div *ngIf="dashboardData && dashboardData.paymentProposalsCount>=0" class="value-block">{{dashboardData.paymentProposalsCount}}</div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>