<div class="page-container cgt-buyer">
  <div class="container">
      <h2 class="page-title">Dashboard</h2>
      <div class="content-area">
        <div class="dashboard-wrapper">
          <div class="dashboard-tab">
            <ul>
              <li>30 Days</li>
              <li class="active">2 Months</li>
              <li>6 Months</li>
              <li>1 Year</li>
              <li>All</li>
            </ul>
          </div>
          <div class="dashboard-inner">
            <div class="dashboard-row clearfix">
              <div class="dashboard-block half-block">
                <div class="inner-block">
                  <div class="label-block">Total Purchase Orders</div>
                  <div class="value-block">64</div>
                </div>
              </div>
              <div class="dashboard-block quarter-block">
                <div class="inner-block">
                  <div class="label-block">Approved & Sent to Vendor</div>
                  <div class="value-block">46</div>
                </div>
              </div>
              <div class="dashboard-block quarter-block">
                <div class="inner-block">
                  <div class="label-block">Pending Approval</div>
                  <div class="value-block">18</div>
                </div>
              </div>
            </div>

            <div class="dashboard-row clearfix">
              <div class="dashboard-block half-block">
                <div class="inner-block">
                  <div class="label-block">Total Orders Delivered</div>
                  <div class="value-block">37</div>
                </div>
              </div>
              <div class="dashboard-block quarter-block">
                <div class="inner-block">
                  <div class="label-block">Receipt Generated</div>
                  <div class="value-block">30</div>
                </div>
              </div>
              <div class="dashboard-block quarter-block">
                <div class="inner-block">
                  <div class="label-block">Receipt Pending</div>
                  <div class="value-block">07</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>