<div class="login-wrapper cgt-buyer clearfix">
    <div class="login-box clearfix">
        <div class="bg-area">
        </div>
        <div class="form-area">
            <img class="sgt-logo" src="assets/images/syngenta-logo.png">
            <h3>Sign In</h3>
            <input class="input-style-large username" type="text" placeholder="Username">
            <input class="input-style-large password" type="text" placeholder="Password">
            <button class="btn-block">Login</button>
        </div>
    </div>
</div>