.menu-nav{
    background: #010066 !important;
    color: #fff;
}

.menu-nav ul li a{
    color: #fff !important;
}

.menu-nav ul li a:hover, .menu-nav ul li a:focus{
    background: #2f2e90 !important;
    color: #fff;
}

.page-title{
    color: #eb8200 !important;
}

.btn-normal{
    color:#fff;
    background-color: #eb8200 !important;
    border-color: #eb8200 !important;
}

.btn-normal:hover{
    background-color: #d47909 !important;
    color:#fff;
}

.btn-border{
    color:#eb8200 !important;
    background-color: #fff;
    border-color: #eb8200 !important;
}
.btn-border:hover{
    color:#fff !important;
    background-color: #d47909 !important;
    border-color: #d47909 !important;
}



