.menu-nav{
    background: #00755e;
    color: #fff;
}

.menu-nav ul li a{
    color: #fff;
}

.menu-nav ul li a:hover, .menu-nav ul li a:focus{
    background: #015d4b;
    color: #fff;
}

.title-main{
    color: #6d7be0;
}

.btn-normal{
    color:#fff;
    background-color: #00755e;
    border-color: #00755e;
}

.btn-normal:hover{
    background-color: #015d4b;
    color:#fff;
}

.btn-border{
    color:#00755e;
    background-color: #fff;
    border-color: #00755e;
}
.btn-border:hover{
    color:#fff;
    background-color: #00755e;
    border-color: #00755e;
}



