
    
    /* You can add global styles to this file, and also import other style files */
    
    body{
        background: #fff;
    }
    
    
    ul, li{
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .title-main{
        font-family: 'sans-serif', 'roboto','helvetica';
        font-weight: 100;
        font-size: 28px;
        padding-bottom: 7px;
        margin-bottom: 30px;
        border-bottom: solid 1px #ccc;
    }

   
    .form-control{
        background: #fff;
        border-radius: 0;
        box-shadow: none;
    }
    
    .form-control:focus{
        box-shadow: none;
    }
    
    .form-control optgroup{
        border: none !important;
        outline: none !important;
    }
    
    option{
        border: none;
        outline: none;
        padding: 10px !important;
        line-height: 19px !important;
    }
    .align-center{
        text-align: center;
    }
    
    .checkbox-style{
        display: inline-block;
        padding: 9px 12px;
        border-radius: 4px;
        border: solid 1px #ccc;
        background: #fff;
        line-height: 16px;
        font-size: 14px;
        font-weight: normal;
        margin-right: 5px;
        position: relative;
        min-width: 70px;
        text-align: center;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    
    .checkbox-style.selected{
        border-color: #6d7be0;
    }
    
    .checkbox-style input[type=checkbox]{
        width: 16px;
        height: 16px;
        margin-top: -3px;
        opacity: 0;
    }
    
    .checkmark {
        position: absolute;
        top: 8px;
        left: 7px;
        height: 18px;
        width: 18px;
        background-color: #eee;
        border: solid 1px #ccc;
    }
    
    .checkbox-style:hover input ~ .checkmark {
        background-color: #ccc;
    }
    
    .checkbox-style input:checked ~ .checkmark {
        background-color: #2196F3;
        border-color: #2196F3;
        
    }
    
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }
    
    .checkbox-style input:checked ~ .checkmark:after {
        display: block;
    }
    
    .checkbox-style .checkmark:after {
        left: 6px;
        top: 3px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    
    
    
    
    .btn{
        margin: 0 5px;
        padding: 7px 16px;
    }
    
    .form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control{
        background-color: #dedede;
    }
    
   
    
    .float-left{
        float: left;
    }
    
    .float-right{
        float: right;
    }
    
    
    
    .login-wrapper{
        width: 100%;
        height: 100%;
        position: fixed;
        background: #000;
    }
    
    .login-wrapper.cgt-buyer{
        background: url('assets/images/syngenta-buyer-login-bg.jpg') no-repeat center;
        -webkit-background-size:cover;
        -moz-background-size:cover;
        background-size:cover;
        padding: 5% 10%;
    }

    .login-wrapper.cgt-buyer .login-box{
        height: 100%;
        background: #fff;
        box-shadow: 0px 0px 41px rgba(0, 0, 0, .5);
    }

    .login-wrapper.cgt-buyer .login-box .bg-area{
        height: 100%;
        width: 50%;
        background: url('assets/images/buyer-login-box-bg.jpg') no-repeat center;
        -webkit-background-size:cover;
        -moz-background-size:cover;
        background-size:cover;
        float: left;
    }

    .login-wrapper.cgt-buyer .login-box .form-area{
        height: 100%;
        width: 50%;
        padding: 30px 50px;
        text-align: center;
        float: left;
    }

    .login-wrapper.cgt-buyer .login-box .form-area .sgt-logo{
        width: 160px;
        margin-bottom: 50px;
    }

    .login-wrapper.cgt-buyer .login-box .form-area h3{
        margin-bottom: 30px;
        font-weight: bold;
        color: #009933;
        font-size: 21px;
        text-transform: uppercase;
    }

    .input-style-large{
        padding: 5px;
        height: 45px;
        border: solid 1px #ccc;
        background: transparent;
    }

    .login-wrapper.cgt-buyer .login-box .form-area input{
        border-radius: 21px;
        width: 100%;
        margin-bottom: 21px;
        background-size: 18px;
    }

    .login-wrapper .login-box .form-area input{
        padding-left: 50px;
        background: no-repeat;
        background-position: 14px center;
        outline: none;
        font-size: 16px;
        color: #888;
    }

    .login-wrapper .login-box .form-area input.username{
        background-image: url('assets/images/username-icon.png');
    }

    .login-wrapper .login-box .form-area input.password{
        background-image: url('assets/images/password-icon.png');
    }

    .login-wrapper.cgt-buyer .login-box .form-area .btn-block{
        height: 45px;
        line-height: 45px;
        text-align: center;
        background: #009933;
        color: #fff;
        border-radius: 21px;
        width: 100%;
        cursor: pointer;
        border: none;
        outline: none;
        font-size: 19px;
        text-transform: uppercase;
    }
    

    .login-wrapper.cgt-finance{
        background: url('assets/images/syngenta-finance-bg.jpg') no-repeat center;
        -webkit-background-size:cover;
        -moz-background-size:cover;
        background-size:cover;
    }

    .login-wrapper.cgt-finance .login-box{
        height: 140px;
        top: 50%;
        width: 100%;
        display: table;
        background: transparent;
        position: absolute;
        margin-top: -70px;
    }

    .login-wrapper.cgt-finance .login-box .logo-area{
        height: 100%;
        width: 15%;
        background: rgba(75, 113, 6, .86);
        text-align: center;
        display: table-cell;
        vertical-align: middle;
    }

    .login-wrapper.cgt-finance .login-box .logo-area img{
        width: 75%;
    }

    .login-wrapper.cgt-finance .login-box .form-area{
        height: 100%;
        width: 85%;
        background: rgba(255, 255, 255, .9);
        display: table-cell;
        vertical-align: middle;
        padding: 0 50px;
    }

    .login-wrapper.cgt-finance .login-box .form-area input{
        width: 40%;
        margin-right: 10px;
        border-color: #bbb;
    }

    .login-wrapper.cgt-finance .login-box .form-area .btn-inline{
        width: 14%;
        height: 45px;
        line-height: 45px;
        text-align: center;
        background: #009933;
        color: #fff;
        cursor: pointer;
        border: none;
        outline: none;
        font-size: 19px;
        text-transform: uppercase;
    }

    .login-wrapper.cgt-vendor .login-box{
        height: 100%;
        background: #fff;
    }

    .login-wrapper.cgt-vendor .login-box .bg-area{
        height: 100%;
        width: 50%;
        background: url('assets/images/syngenta-vendor-bg.jpg') no-repeat center;
        -webkit-background-size:cover;
        -moz-background-size:cover;
        background-size:cover;
        float: left;
        position: relative;
    }

    .login-wrapper.cgt-vendor .login-box .form-area{
        height: 100%;
        width: 50%;
        padding: 30px 50px;
        text-align: center;
        float: left;
        position: relative;
    }

    .login-wrapper.cgt-vendor .login-box .form-area .login-box-inner{
        position: absolute;
        top: 50%;
        margin-top: -160px;
        padding: 0 50px 0 100px;
    }

    .login-wrapper.cgt-vendor .login-box .form-area h3{
        margin-bottom: 70px;
        font-weight: bold;
        color: #009933;
        font-size: 21px;
        text-transform: uppercase;
    }

    .login-wrapper.cgt-vendor .login-box .form-area input, .login-wrapper.cgt-logistic .login-box .form-area input{
        margin-bottom: 25px;
        border: none;
        border-bottom: solid 1px #ccc;
        width: 100%;
        background-position: 5px center;
        padding-left: 39px;
    }

    .login-wrapper.cgt-vendor .login-box .form-area .btn-inline, .login-wrapper.cgt-logistic .login-box .form-area .btn-inline{
        float: right;
        padding: 0 50px;
        height: 41px;
        line-height: 41px;
        text-align: center;
        background: #38d36a;
        color: #fff;
        cursor: pointer;
        border: none;
        outline: none;
        font-size: 18px;
        border-radius: 21px;
        text-transform: uppercase;
        box-shadow: 0px 0px 12px rgba(0, 0, 0, .3);
    }

    .login-wrapper.cgt-logistic .login-box .form-area .btn-inline{
        background: #0b96ab !important;
        float: none !important;
        text-align: center;
    }

    .login-wrapper.cgt-vendor .login-box .vendor-logo-holder{
        position: absolute;
        top: 50%;
        left: 50%;
        width: 180px;
        height: 180px;
        border-radius: 50%;
        box-shadow: 0px 0px 12px rgba(0, 0, 0, .4);
        margin-top: -90px;
        margin-left: -90px;
        display: table;
        vertical-align: middle;
        text-align: center;
        background: #fff;
        z-index: 1;
    }

    .login-wrapper.cgt-vendor .login-box .vendor-logo-holder span{
        display: table-cell;
        width: 100%;
        height: 100%;
        vertical-align: middle;
    }

    .login-wrapper.cgt-vendor .login-box .vendor-logo-holder img{
        max-width: 70%;
        max-height: 70%;
    }

    .login-wrapper.cgt-vendor .login-box .welcome-text{
        position: absolute;
        top: 3%;
        left: 5%;
        width: 95%;
        color: #fff;
        text-transform: uppercase;
    }

    .login-wrapper.cgt-vendor .login-box .welcome-text h1{
        font-size: 72px;
        font-family: "Helvetica Neue","Helvetica","Roboto",Arial,sans-serif;
        font-weight: 700;
        line-height: 1;
        font-stretch: condensed;
    }
    .login-wrapper.cgt-vendor .login-box .welcome-text h2{
        font-size: 45px;
        font-family: "Helvetica Neue","Helvetica","Roboto",Arial,sans-serif;
        font-weight: 700;
        line-height: 1;
        font-stretch: condensed;
        width: 50%;
        margin-top: 36px;
    }

    .login-wrapper.cgt-vendor .login-box .bg-area .footer-bar{
        height: 70px;
        line-height: 70px;
        width: 100%;
        position: absolute;
        bottom: 0;
        background: rgba(0, 0, 0, .5);
    }
    .login-wrapper.cgt-vendor .login-box .bg-area .footer-bar p{
        padding-left: 20px;
        color: #555;
        font-size: 13px;
    }

    .login-wrapper.cgt-logistic{
        background: url('assets/images/logistic-login-bg.png') repeat-x center bottom #fff;
        background-size: auto 210px;
    }

    .login-wrapper.cgt-logistic .logo-area{
        width: 90px;
        margin: 50px auto;
    }

    .login-wrapper.cgt-logistic .logo-area img{
        width: 100%;
    }

    .login-wrapper.cgt-logistic .login-box{
        position: absolute;
        top: 45%;
        width: 36%;
        left: 32%;
        margin-top: -100px;
        text-align: center;
    }

    .login-wrapper.cgt-logistic .dot-overlay{
        position: fixed;
        width: 100%;
        height: 100%;
        background: url(assets/images/bg-dot.png);
    }

    .page-container{
        padding-bottom: 40px;
    }

    .page-title{
        font-size: 27px;
        color: #eb8200;
        margin: 25px 0;
    }

    .cgt-finance .page-title{
        font-size: 24px;
        color: #00A0BE;
        margin: 25px 0;
        border-bottom: solid 3px #00A0BE;
        padding: 0 0 7px 0;
       
    }


    .content-area{

    }

    .panel-expand{
        margin-bottom: 10px;
    }

    .panel-expand .panel-title{
        padding: 10px 15px;
        background: #00A0BE;
        color: #fff;
        position: relative;
        border-radius: 21px;
        cursor: pointer;
    }

    .panel-expand .panel-title h3{
        padding: 0;
        margin: 0;
        font-size: 16px;
        font-weight: bold;
    }

    .panel-expand .panel-title .arrow{
        width: 35px;
        height: 35px;
        position: absolute;
        display: inline-block;
        right: 10px;
        top: 2px;
        background: url('assets/images/arrow-down.png') no-repeat center;
    }
    
    .panel-expand .panel-content{
        padding: 15px 0px 0px 0px;
    }

    .plain-block{
        clear: both;
    }

    .cgt-finance .plain-block{
        background: #f3f3f3;
        padding: 10px 0;
        border-radius: 12px;
    }


    .mrg-btm-20{
        margin-bottom: 20px;
    }

    .mrg-btm-30{
        margin-bottom: 30px;
    }

    .mrg-btm-40{
        margin-bottom: 40px;
    }

    .value-block{
        margin-bottom: 20px;
    }
    
    .label-field{
        color: #888;
        font-size: 14px;
        padding: 5px 5px 0px 0px;
        font-weight: normal;
        display: inline-block;
        width: 30%;
        margin: 0;
        vertical-align: top;
    }
    .value-field{
        color: #000;
        font-size: 15px;
        padding: 0px 5px 0px 5px;
        display: inline-block;
        width: 69%;
    }

    .value-text input, .value-text textarea, .value-text select{
        font-size: 14px;
    }

    .sub-title-sm{
        font-size: 15px;
        font-weight: bold;
        color: #000;
        padding-bottom: 5px;
    }

    .cgt-finance .sub-title-sm{
        font-size: 19px;
        font-weight: lighter;
        padding-left: 10px;
    }

    .two-col{
        width: 49%;
        display: inline-block;
    }

    .input-style{
        padding: 5px;
        border: solid 1px #ccc;
        outline: none;
        min-width: 280px;
        min-height: 30px;
    }

    .input-style-small{
        padding: 5px;
        border: solid 1px #ccc;
        outline: none;
        max-width: 130px;
        min-height: 30px;
    }

    .full-width{
        width: 100%;
        max-width: 100%;
    }

    .btn-area{
        display: block;
        padding: 10px;
        text-align: center;
    }

    .btn-normal{
        padding: 10px 20px;
        text-align: center;
        border: none;
        background: #eb8200;
        color: #fff;
        font-size: 14px;
        border-radius: 21px;
        display: inline-block;
        margin: 0 5px;
        outline: none;
    }

    .btn-border{
        padding: 10px 20px;
        text-align: center;
        border: none;
        border: solid 1px #eb8200;
        background-color: #fff;
        color: #eb8200;
        font-size: 14px;
        border-radius: 21px;
        display: inline-block;
        margin: 0 5px;
        outline: none;
    }

    .cgt-finance .btn-normal{
        background: #00A0BE;
        border-radius:5px;
    }

    .cgt-finance .btn-normal:hover{
        background: #048fa9;
    }

    .cgt-finance .btn-border{
        border-radius: 5px;
        border: solid 1px #00A0BE;
        color: #00A0BE;
    }

    .cgt-finance .btn-border:hover{
        border: solid 1px #00A0BE;
        background: #00A0BE;
        color: #fff;
    }

    .border-box-wrapper{
        max-width: 100%;
        border-top: solid 5px #aadde7;
    }

    .cgt-finance .border-box-wrapper{
        border-top: none;
    }

    .cgt-finance table{
        background: #fff;
    }

    .border-box-wrapper .table-striped>tbody>tr:nth-of-type(odd){
        background-color: #f6fafc;
    }

    .cgt-finance .border-box-wrapper .table-striped>tbody>tr:nth-of-type(odd){
        background-color: #f8f8f8;
    }

    .border-box-table{
        display: table;
        width: 100%;
    }

    .cgt-finance .border-box-table{
        border-spacing: 10px 5px;
        border-collapse: separate;
    }

    .border-box-row{
        display: table-row;
        clear: both;
    }

    .border-box{
        border: solid 1px #aadde7;
        padding: 15px;
        border-right: 0px;
        border-top: none;
        display: table-cell;
        background: #f6fafc;
    }

    .cgt-finance .border-box{
        border: none;
        padding: 0;
        display: table-cell;
        border-radius: 7px;
        overflow: hidden;
        background: #fff;
        box-shadow: 0px 0px 9px rgba(0, 0, 0, .1);
    }

    .border-box.end-box{
        border-right: solid 1px #aadde7;
    }
    
    .cgt-finance .border-box.end-box{
        border-right: none;
    }

    .border-box .label-field{
        color: #000;
        font-size: 13px;
        font-weight: bold;
        display: block;
        padding: 0;
        padding-bottom: 3px;
        width: auto;
    }

    .cgt-finance .border-box .label-field{
        color: #000;
        padding: 9px;
        padding-bottom: 3px;
    }
    .border-box .value-field{
        color: #777;
        padding: 0;
        font-size: 18px;
        display: block;
        width: auto;
    }

    .cgt-finance .border-box .value-field{
        color: #666;
        padding: 9px;
        padding-top: 0;
    }

    .border-box .value-field .input-style{
        font-size: 16px;
    }

    .tracker{
        width: auto;
        margin: 0 auto;
        display: inline-block;
    }

    .tracker-wrapper{
        text-align: center;
        padding: 10px;
        background: #f0f0f0;
        border-radius: 12px;
    }

    .tracker-wrapper ul{
        border-bottom: solid 1px #ddd;
        margin: 0 auto;
        padding: 0;
        display: inline-block;
    }

    .tracker-wrapper ul li{
        border-top: solid 1px #ddd;
        margin: 0;
        list-style: none;
        background: #fcfcfc;
        padding: 21px 0;
        position: relative;
    }

    .tracker-wrapper .marker{
        position: absolute;
        display: inline-block;
        width: 28px;
        height: 28px;
        border-radius: 50%;
        left: 20px;
        top: 21px;
        border: solid 2px #999;
        background: no-repeat center;
    }

    .tracker-wrapper li.finished .marker{
        border-color: #eb8200;
        background-image: url('assets/images/checked.png');
    }

    .tracker-wrapper .event{
        padding: 0 140px 0 70px;
        text-align: left;
    }

    .tracker-wrapper .event .event-name{
        margin: 0;
        padding-bottom: 7px;
        color: #000;
        font-size: 14px;
        font-weight: bold;
    }

    .tracker-wrapper .event .event-info{
        margin: 0;
        padding: 0;
        color: #999;
        font-size: 13px;
    }

    .tracker-wrapper .event .event-info .party{
        display: inline-block;
        color: #00A0BE;
        padding-left: 7px;
        margin-left: 7px;
        border-left: solid 1px #999;
    }

     .tracker-wrapper .more-info{
        position: absolute;
        right: 20px;
        top: 28px;
        padding: 4px 10px;
        border-radius: 21px;
        background: #5dc0d2;
        color: #fff;
        font-size: 13px;
        cursor: pointer;
    }

    .tracker-wrapper .pointer{
        position: absolute;
        display: inline-block;
        left: 50%;
        margin-left: -8px;
        bottom: -11px;
        width: 16px;
        height: 16px;
        background: no-repeat center url('assets/images/pointer-down.png');
        z-index: 1;
    }

     .tracker-wrapper .more-info:hover{
        
        background: #048fa9;
        
    }

    .tracker-btn{
        padding: 10px;
        background: #f0f0f0;
        border-radius: 12px;
        margin-bottom: 10px;
    }

    .tracker-btn form{
        padding: 20px;
        display: block;
        background: #fcfcfc;
    }

    .tracker-btn .input-style{
        height: 40px;
        width: 70%;
        font-size: 16px;
    }

    .tracker-btn .input-style option{
        font-size: 16px;
    }

    .col-2{
        width: 50%;
    }

    .col-3{
        width: 33.333%;
    }

    .col-4{
        width: 25%;
    }


    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        transition: background-color 5000s ease-in-out 0s;
        -webkit-text-fill-color: #555 !important;
    }
    
   
    
    ul, li{
        margin: 0;
        padding: 0;
    }

    ::-webkit-input-placeholder { /* Chrome */
    color: #c3c3c3;
    }
    :-ms-input-placeholder { /* IE 10+ */
    color: #c3c3c3;
    }
    ::-moz-placeholder { /* Firefox 19+ */
    color: #c3c3c3;
    opacity: 1;
    }
    
       
    @media screen and (min-width: 1600px){
        .container {
            width: 1570px;
        }

        .login-wrapper.cgt-logistic{
            background-size: auto 275px;
        }

        .login-wrapper.cgt-logistic .logo-area{
            width: 100px;
            margin: 120px auto;
        }
    }
    