<div class="page-container cgt-buyer">
  <div class="container">
      <h2 class="page-title">PO Generation / Approval</h2>
      <div class="content-area">
          <div class="panel-expand">
              <div class="panel-title">
                  <h3>Primary Details</h3>
                  <span class="arrow"></span>
              </div>
              <div class="panel-content clearfix">
                  <div class="col-sm-12 col-md-6">
                      <div class="plain-block mrg-btm-30">
                          <h5 class="sub-title-sm">Order Details</h5>
                          <div class="value-block">
                              <label class="label-field">PO Number</label>
                              <span class="value-field">
                                    <select class="input-style" [(ngModel)]="purchaseOrder.purchaseOrderNumber" (change)="setPO()" name="purchaseOrder" id="purchaseOrder" required>
                                        <option value=""></option>
                                        <option *ngFor="let item of purchaseOrderList" [value]="item.purchaseOrderNumber">{{item.purchaseOrderNumber}}</option>
                                    </select>
                              </span>
                          </div>

                          <div class="value-block">
                              <label class="label-field">PO Date</label>
                              <span class="value-field">{{purchaseOrder.purchaseOrderDate | date : "short"}}</span>
                          </div>
<!-- 
                          <div class="value-block">
                              <label class="label-field">Order Number</label>
                              <span class="value-field">{{purchaseOrder.shoppingOrderNumber}}</span>
                          </div>

                          <div class="value-block">
                              <label class="label-field">Order Date</label>
                              <span class="value-field">{{purchaseOrder.shoppingOrderDate | date : "short"}}</span>
                          </div> -->
                      </div>

                      <div class="plain-block">
                          <h5 class="sub-title-sm">Purchaser Details</h5>
                          <div class="value-block">
                              <label class="label-field">Purchaser Company</label>
                              <span class="value-field">
                                    {{purchaseOrder.buyerCompany}}
                              </span>
                          </div>

                          <div class="value-block">
                              <label class="label-field">Contact person</label>
                              <span class="value-field">
                                <!-- <select class="input-style" [(ngModel)]="purchaseOrder.buyerContactPerson" name="buyerContactPerson" id="buyerContactPerson" required>
                                        <option *ngFor="let item of commonData.purchaserContact" [value]="item.name">{{item.name}}</option>
                                    </select> -->
                                  {{purchaseOrder.buyerContactPerson}}
                              </span>
                          </div>

                          <div class="value-block">
                              <label class="label-field">Contact Address</label>
                              <span class="value-field">{{purchaseOrder.buyerContactPersonAddress}}</span>
                          </div>

                          <div class="value-block">
                              <label class="label-field">Contact Email</label>
                              <span class="value-field">{{purchaseOrder.buyerContactPersonEmail}}</span>
                          </div>
                          
                      </div>
                      <div class="plain-block">
                        <h5 class="sub-title-sm">Invoice Details</h5>
                        <div class="value-block">
                            <label class="label-field">Bill-to-address</label>
                            <span class="value-field">
                                    <input type="text" [(ngModel)]="purchaseOrder.invoicePartyId" name="invoicePartyId" required class="input-style">
                            </span>
                        </div>
                        <div class="value-block">
                            <label class="label-field">Invoice Address</label>
                            <span class="value-field"><textarea [(ngModel)]="purchaseOrder.invoiceAddress" name="invoiceAddress" required class="input-style"></textarea></span>
                        </div>
                      </div>
                  </div>

                  <div class="col-sm-12 col-md-6">
                      
                      <div class="plain-block mrg-btm-30">
                          <h5 class="sub-title-sm">Supplier Details</h5>
                          <div class="value-block">
                              <label class="label-field">Supplier Name</label>
                              <span class="value-field">
                                    <select class="input-style" (change)="changeSupplier()" [(ngModel)]="purchaseOrder.supplierName" name="supplierName" id="supplierName" required>
                                            <option *ngFor="let item of userData.users.vendors" [value]="item.supplierName">{{item.supplierName}}</option>
                                    </select>  
                               
                              </span>
                          </div>

                          <div class="value-block">
                              <label class="label-field">Supplier Unique No</label>
                              <span class="value-field">{{purchaseOrder.supplierUniqueNo}}</span>
                          </div>

                          <div class="value-block">
                              <label class="label-field">Contact Person</label>
                              <span class="value-field"><input type="text" [(ngModel)]="purchaseOrder.supplierContactPerson" name="supplierContactPerson" class="input-style" required></span>
                          </div>

                          <div class="value-block">
                              <label class="label-field">Supplier Address</label>
                              <span class="value-field">{{purchaseOrder.supplierContactPersonAddress}}</span>
                          </div>

                          <div class="value-block">
                              <label class="label-field">Supplier Phone No</label>
                              <span class="value-field">{{purchaseOrder.supplierContactPersonPhone}}</span>
                          </div>

                          <div class="value-block">
                              <label class="label-field">Supplier Email</label>
                              <span class="value-field">{{purchaseOrder.supplierContactPersonEmail}}</span>
                          </div>
                      </div>

                      <div class="plain-block">
                          <h5 class="sub-title-sm">Delivery Details</h5>
                          <div class="value-block">
                              <label class="label-field">Delivery To</label>
                              <span class="value-field">
                                  <input type="text" [(ngModel)]="purchaseOrder.deliverToPersonName" name="deliverToPersonName" required class="input-style">
                              </span>
                          </div>

                          <div class="value-block">
                              <label class="label-field">Delivery Address</label>
                              <span class="value-field"><textarea [(ngModel)]="purchaseOrder.deliverToPersonAddress" name="deliverToPersonAddress" required class="input-style"></textarea></span>
                          </div>
                      </div>

                  </div>
              </div>
          </div>

          <div class="panel-expand">
              <div class="panel-title">
                  <h3>Meterial Details</h3>
                  <span class="arrow"></span>
              </div>
              <div class="panel-content clearfix">
                  <table class="table table-striped full-width">
                      <tr>
                            <th>Pos.</th>
                          <!-- <th>Meterial Group</th> -->
                          <th>Product Name</th>
                          <th>Description</th>
                          <th>Expected Delivery Date</th>
                          <th>Quantity</th>
                          <th>Units</th>
                          <th>Unit price</th>
                          <th>Currency</th>
                          <th>Net Amount</th>                          
                      </tr>
                      <tr *ngFor="let item of purchaseOrder.orderedMaterial; let i = index" [attr.data-index]="i">
                            <td>{{item.pos}}</td>  
                        <!-- <td>
                              <select [(ngModel)]="item.buyerMaterialGroup" name="buyerMaterialGroup" class="input-style-small">
                                    <option *ngFor="let item of commonData.materialGroup" [value]="item.name">{{item.name}}</option>
                              </select>
                          </td> -->
                          <td><input [(ngModel)]="item.productName" name="productName" type="text" class="input-style-small"></td>
                          <td><input [(ngModel)]="item.productDescription" name="productDescription" type="text" class="input-style-small"></td>
                          <td><input placeholder="Date" [(ngModel)]="item.expectedDeliveryDate" name="expectedDeliveryDate" type="text" class="input-style-small" bsDatepicker required/></td>
                          <td><input [(ngModel)]="item.quantity" (change)="calculateOrderAmount()" name="quantity" type="text" class="input-style-small"></td>
                          <td>
                              <select [(ngModel)]="item.quantityUnit" name="quantityUnit" class="input-style-small">
                                    <option *ngFor="let item of commonData.materialUnits" [value]="item.name">{{item.name}}</option>
                              </select>
                          </td>
                          <td><input [(ngModel)]="item.pricePerUnit" (change)="calculateOrderAmount()" name="pricePerUnit" type="text" class="input-style-small"></td>
                          <td>
                              <select [(ngModel)]="item.currency" name="currency" class="input-style-small">
                                    <option *ngFor="let item of commonData.currancy" [value]="item.name">{{item.name}}</option>
                              </select>
                          </td>
                          <td><strong>{{item.netAmount}}</strong></td>                          
                      </tr>
                  </table>
              </div>
          </div>

          <div class="panel-expand">
              <div class="panel-title">
                  <h3>Accounting Details</h3>
                  <span class="arrow"></span>
              </div>
              <div class="panel-content clearfix">
                  <div class="col-sm-12 col-md-6">
                      <div class="plain-block">
                          <div class="value-block">
                              <label class="label-field">Total Amount</label>
                              <span class="value-field">{{purchaseOrder.totalOrderAmount}}</span>
                          </div>

                          <div class="value-block">
                              <label class="label-field">Accounting Type</label>
                              <span class="value-field">{{purchaseOrder.accountingType}}</span>
                          </div>

                          <div class="value-block">
                              <label class="label-field">Cost Center</label>
                              <span class="value-field">
                                    <select class="input-style" [(ngModel)]="purchaseOrder.costCenter" name="costCenter" id="costCenter" required>
                                            <option *ngFor="let item of commonData.costCenter" [value]="item.name">{{item.name}}</option>
                                        </select> 
                                  
                              </span>
                          </div>
                      </div>

                  </div>

                  <div class="col-sm-12 col-md-6">
                      
                      <div class="plain-block">
                          <div class="value-block">
                              <label class="label-field">G/L Account</label>
                              <span class="value-field">
                                    <select class="input-style" [(ngModel)]="purchaseOrder.glAccount" name="glAccount" id="glAccount" required>
                                            <option *ngFor="let item of commonData.glAccount" [value]="item.name">{{item.name}}</option>
                                        </select>  
                               
                              </span>
                          </div>

                          <div class="value-block">
                              <label class="label-field">Terms of Payment</label>
                              <span class="value-field"><textarea [(ngModel)]="purchaseOrder.termsOfPayment" name="termsOfPayment" required class="input-style"></textarea></span>
                          </div>

                          <div class="value-block">
                            <label class="label-field">Terms of Delivery</label>
                            <span class="value-field"><textarea [(ngModel)]="purchaseOrder.termsOfDelivery" name="termsOfDelivery" required class="input-style"></textarea></span>
                        </div>
                      </div>
                  </div>
              </div>
          </div>

          <div class="panel-expand">
              <div class="panel-title">
                  <h3>Additional Information</h3>
                  <span class="arrow"></span>
              </div>
              <div class="panel-content clearfix">
                  <div class="col-sm-12 col-md-6">
                      <div class="plain-block">
                          <div class="value-block">
                              <label class="label-field">Internal Notes</label>
                              <span class="value-field">
                                  <textarea [(ngModel)]="purchaseOrder.internalNotes" name="internalNotes" required class="input-style"></textarea>
                              </span>
                          </div>
                      </div>

                  </div>

                  <div class="col-sm-12 col-md-6">
                      
                      <div class="plain-block">
                          <div class="value-block">
                              <label class="label-field">External Notes</label>
                              <span class="value-field">
                                  <textarea [(ngModel)]="purchaseOrder.externalNotes" name="externalNotes" required class="input-style"></textarea>
                              </span>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

          <div class="btn-area">
              <button class="btn-border">Cancel</button>
              <button class="btn-normal" (click)="updatePO()">Approve Purchase Order</button>
          </div>

      </div>
  </div>
</div>