<div class="page-container cgt-buyer">
  <div class="container">
      <h2 class="page-title">PO Generation / Approval</h2>
      <div class="content-area">
          <div class="panel-expand">
              <div class="panel-title">
                  <h3>Primary Details</h3>
                  <span class="arrow"></span>
              </div>
              <div class="panel-content clearfix">
                  <div class="col-sm-12 col-md-6">
                      <div class="plain-block mrg-btm-30">
                          <h5 class="sub-title-sm">Order Details</h5>
                          <div class="value-block">
                              <label class="label-field">PO Number</label>
                              <span class="value-field">
                                  <select class="input-style">
                                      <option selected>672348234723847</option>
                                      <option>75686954325355</option>
                                  </select>
                              </span>
                          </div>

                          <div class="value-block">
                              <label class="label-field">PO Date</label>
                              <span class="value-field">December 25, 2017</span>
                          </div>

                          <div class="value-block">
                              <label class="label-field">Order Number</label>
                              <span class="value-field">34234235</span>
                          </div>

                          <div class="value-block">
                              <label class="label-field">Order Date</label>
                              <span class="value-field">December 21, 2017</span>
                          </div>
                      </div>

                      <div class="plain-block">
                          <h5 class="sub-title-sm">Purchaser Details</h5>
                          <div class="value-block">
                              <label class="label-field">Purchaser Company</label>
                              <span class="value-field">
                                  Purchaser Name
                              </span>
                          </div>

                          <div class="value-block">
                              <label class="label-field">Contact person</label>
                              <span class="value-field">
                                  <select class="input-style">
                                      <option selected>Person name 1</option>
                                      <option>Person name 2</option>
                                  </select>
                              </span>
                          </div>

                          <div class="value-block">
                              <label class="label-field">Contact Address</label>
                              <span class="value-field">Address line 1, street name, Location Name, City, State</span>
                          </div>

                          <div class="value-block">
                              <label class="label-field">Contact Email</label>
                              <span class="value-field">name @domain.com</span>
                          </div>
                          
                      </div>
                      
                  </div>

                  <div class="col-sm-12 col-md-6">
                      
                      <div class="plain-block mrg-btm-30">
                          <h5 class="sub-title-sm">Supplier Details</h5>
                          <div class="value-block">
                              <label class="label-field">Supplier Name</label>
                              <span class="value-field">
                                  <select class="input-style">
                                      <option selected>672348234723847</option>
                                      <option>75686954325355</option>
                                  </select>
                              </span>
                          </div>

                          <div class="value-block">
                              <label class="label-field">Supplier Unique No</label>
                              <span class="value-field">453287583275</span>
                          </div>

                          <div class="value-block">
                              <label class="label-field">Contact Person</label>
                              <span class="value-field"><input type="text" class="input-style"></span>
                          </div>

                          <div class="value-block">
                              <label class="label-field">Supplier Address</label>
                              <span class="value-field">Address line 1, street name, Location Name, City, State</span>
                          </div>

                          <div class="value-block">
                              <label class="label-field">Supplier Phone No</label>
                              <span class="value-field">+91 8633262366</span>
                          </div>

                          <div class="value-block">
                              <label class="label-field">Supplier Email</label>
                              <span class="value-field">supplier@companyname.com</span>
                          </div>
                      </div>

                      <div class="plain-block">
                          <h5 class="sub-title-sm">Delivery Details</h5>
                          <div class="value-block">
                              <label class="label-field">Delivery To</label>
                              <span class="value-field">
                                  <input type="text" class="input-style">
                              </span>
                          </div>

                          <div class="value-block">
                              <label class="label-field">Delivery Address</label>
                              <span class="value-field"><textarea class="input-style"></textarea></span>
                          </div>

                          <div class="value-block">
                              <label class="label-field">Invoice Address</label>
                              <span class="value-field"><textarea class="input-style"></textarea></span>
                          </div>
                      </div>

                  </div>
              </div>
          </div>

          <div class="panel-expand">
              <div class="panel-title">
                  <h3>Meterial</h3>
                  <span class="arrow"></span>
              </div>
              <div class="panel-content clearfix">
                  <table class="table table-striped full-width">
                      <tr>
                          <th>Meterial Group</th>
                          <th>Product Name</th>
                          <th>description</th>
                          <th>Quantity</th>
                          <th>Units</th>
                          <th>Unit price</th>
                          <th>Currency</th>
                          <th>Net Amount</th>
                      </tr>
                      <tr>
                          <td>
                              <select class="input-style-small">
                                  <option selected>Meterial Group 1</option>
                                  <option>Meterial Group 2</option>
                              </select>
                          </td>
                          <td><input type="text" class="input-style-small"></td>
                          <td><input type="text" class="input-style-small"></td>
                          <td><input type="text" class="input-style-small"></td>
                          <td>
                              <select class="input-style-small">
                                  <option selected>Meterial Group 1</option>
                                  <option>Meterial Group 2</option>
                              </select>
                          </td>
                          <td><input type="text" class="input-style-small"></td>
                          <td>
                              <select class="input-style-small">
                                  <option selected>Meterial Group 1</option>
                                  <option>Meterial Group 2</option>
                              </select>
                          </td>
                          <td><strong>20000</strong></td>
                      </tr>
                      <tr>
                          <td>
                              <select class="input-style-small">
                                  <option selected>Meterial Group 1</option>
                                  <option>Meterial Group 2</option>
                              </select>
                          </td>
                          <td><input type="text" class="input-style-small"></td>
                          <td><input type="text" class="input-style-small"></td>
                          <td><input type="text" class="input-style-small"></td>
                          <td>
                              <select class="input-style-small">
                                  <option selected>Meterial Group 1</option>
                                  <option>Meterial Group 2</option>
                              </select>
                          </td>
                          <td><input type="text" class="input-style-small"></td>
                          <td>
                              <select class="input-style-small">
                                  <option selected>Meterial Group 1</option>
                                  <option>Meterial Group 2</option>
                              </select>
                          </td>
                          <td><strong>20000</strong></td>
                      </tr>
                  </table>
              </div>
          </div>

          <div class="panel-expand">
              <div class="panel-title">
                  <h3>Accounting</h3>
                  <span class="arrow"></span>
              </div>
              <div class="panel-content clearfix">
                  <div class="col-sm-12 col-md-6">
                      <div class="plain-block">
                          <div class="value-block">
                              <label class="label-field">Total Amount</label>
                              <span class="value-field">40000</span>
                          </div>

                          <div class="value-block">
                              <label class="label-field">Accounting Type</label>
                              <span class="value-field">Type 1</span>
                          </div>

                          <div class="value-block">
                              <label class="label-field">Cost Center</label>
                              <span class="value-field">
                                  <select class="input-style">
                                      <option selected>Cost Center 1</option>
                                      <option>Cost Center 2</option>
                                  </select>
                              </span>
                          </div>
                      </div>

                  </div>

                  <div class="col-sm-12 col-md-6">
                      
                      <div class="plain-block">
                          <div class="value-block">
                              <label class="label-field">G/L Account</label>
                              <span class="value-field">
                                  <select class="input-style">
                                      <option selected>G/L Account 1</option>
                                      <option>G/L Account 2</option>
                                  </select>
                              </span>
                          </div>

                          <div class="value-block">
                              <label class="label-field">Terms of Payment</label>
                              <span class="value-field"><textarea class="input-style"></textarea></span>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

          <div class="panel-expand">
              <div class="panel-title">
                  <h3>Additional Info</h3>
                  <span class="arrow"></span>
              </div>
              <div class="panel-content clearfix">
                  <div class="col-sm-12 col-md-6">
                      <div class="plain-block">
                          <div class="value-block">
                              <label class="label-field">Internal Notes</label>
                              <span class="value-field">
                                  <textarea class="input-style"></textarea>
                              </span>
                          </div>
                      </div>

                  </div>

                  <div class="col-sm-12 col-md-6">
                      
                      <div class="plain-block">
                          <div class="value-block">
                              <label class="label-field">External Notes</label>
                              <span class="value-field">
                                  <textarea class="input-style"></textarea>
                              </span>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

          <div class="btn-area">
              <button class="btn-border">Cancel</button>
              <button class="btn-normal">Approve & Generate PO</button>
          </div>

      </div>
  </div>
</div>